<form #f="ngForm">

  <div class="Form-group">

    <h1>Pesquisa de CEP</h1>

    <label for="cep">CEP:</label>
    <p><input type="text" class="Form-control" id="cep" name="cep" ngModel #cep="ngModel"
        (blur)="consultaCep(applyFilter($event), f)" (keyup.enter)="consultaCep(applyFilter($event), f)"></p>

    <label for="cep">LOGRADOURO:</label>
    <p><input type="text" class="Form-control resultado" name="logradouro" id="logradouro" ngModel #logradouro="ngModel"
        placeholder="..." disabled></p>

    <label for="cep">BAIRRO:</label>
    <p><input type="text" class="Form-control resultado" name="bairro" id="bairro" ngModel #bairro="ngModel"
        placeholder="..." disabled></p>

    <label for="cep">CIDADE:</label>
    <p><input type="text" class="Form-control resultado" name="cidade" id="cidade" ngModel #cidade="ngModel"
        placeholder="..." disabled></p>

    <label for="cep">UF:</label>
    <p><input type="text" class="Form-control resultado" name="uf" id="uf" ngModel #uf="ngModel" placeholder="..."
        disabled></p>


  </div>


</form>